<ion-content>
  <div class="flex-center-100">
    <ion-card color="primary">
      <ion-card-header>
        <ion-grid>
          <ion-row class="ion-align-items-center ion-justify-content-center">
            <div class="Logo">
              <img src="https://i.imgur.com/vFRccMA.png" alt="WhoPays logo" />
            </div>
          </ion-row>
      </ion-grid>
        <ion-row class="ion-align-items-center ion-justify-content-center">
          <ion-card-subtitle class="shadow-text">Sign In</ion-card-subtitle>
        </ion-row>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-label position="floating">E-mail</ion-label>
          <ion-input type="email" placeholder="Enter e-mail address"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Password</ion-label>
          <ion-input type="password" placeholder="Enter your password"></ion-input>
        </ion-item>
        <ion-button color="dark" fill="clear">Forgot Email or Password</ion-button>            
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
