<ion-content>
  <div class="flex-center-100">
    <ion-card color="primary">
      <ion-card-header>
        <ion-card-title>WhoPays</ion-card-title>
        <ion-card-subtitle>Welcome Back! Please Log In</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-label position="floating">E-mail</ion-label>
          <ion-input type="email" placeholder="Enter e-mail address"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Password</ion-label>
          <ion-input type="password" placeholder="Enter your password"></ion-input>
        </ion-item>            
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
