<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar color="primary">
      <div class="flex-center">
        <ion-title>WhoPays</ion-title>
      </div>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding"> <!-- side-menu content -->
    <ion-grid>
      <ion-row>
        <ion-col size = "8">
          <ion-button [routerLink]="['/home']" expand="full" class="defaultMenu" fill="clear">
            Home
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size = "8">
          <ion-button [routerLink]="['/profile']" expand="full" class="defaultMenu" fill="clear">
            Profile
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size = "8">
          <ion-button [routerLink]="['/events']" expand="full" class="defaultMenu" fill="clear">
            Events
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size = "8">
          <ion-button [routerLink]="['/login']" expand="full" class="defaultMenu" fill="clear">
            Logout
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>WhoPays</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card>
    <ion-card-header>
      <div class="flex-center-100">
        <div class="flex-left-100">
          <ion-avatar class="user">
            <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
          </ion-avatar>
          <ion-card-title>Username</ion-card-title>
        </div>
        <div class="flex-right-100">
            <div class="flex-center">
            Total Balance
            </div>
        </div>
    </div>
    </ion-card-header>
    <ion-card-content>
      <div class="flex-center-100">
        <div class="flex-left-100W">
        You owe X and are owed Y
        </div>
    </div>
    </ion-card-content>
  </ion-card>
  <ion-content class="ion-padding" color="secondary">
    <ion-nav [root]="component" animated="true"></ion-nav>
      <ion-fab class ="rightMargin" slot="fixed" vertical="bottom" horizontal="center">
        <ion-fab-button>
          <ion-icon name="add"></ion-icon>
        </ion-fab-button>
        <ion-fab-list side="top">
          <ion-button>
            Add Event...
          </ion-button>
        </ion-fab-list>
      </ion-fab>
  </ion-content>
</div>
